{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container mx-auto">
        <div class="my-3 px-2">
            <div class="text-2xl w-full xl:w-2/3 mx-auto">投稿フォーム</div>
            <div class="py-4">
                <div class="xl:w-2/3 w-full mx-auto overflow-auto">
                    <div class="w-full max-x-xs">
                        <form class="bg-white rounded px-8 py-6">
                            <div class="mb-4">
                                <label class="block text-gray-900 text-sm mb-2" for="title">
                                    題名
                                </label>
                                <input type="text" class="form-input w-full md:w-3/5 py-2 px-3" placeholder="題名">
                            </div>
                            <div class="mb-4">
                                <label class="block text-gray-900 text-sm mb-2">
                                    取引場所
                                </label>
                                <div class="flex flex-col sm:flex-row">
                                    <label class="items-center mx-2">
                                        <input type="radio" class="form-radio text-yellow-500" name="place" value="PC" checked>
                                        <span class="ml-2">PC Only</span>
                                    </label>
                                    <label class="items-center mx-2">
                                        <input type="radio" class="form-radio text-blue-500" name="place" value="PCSP">
                                        <span class="ml-2">PC and SP</span>
                                    </label>
                                    <label class="items-center mx-2">
                                        <input type="radio" class="form-radio text-green-500" name="place" value="SP">
                                        <span class="ml-2">SP Only</span>
                                    </label>
                                </div>
                            </div>
                            <div class="mb-4">
                                <label class="block text-gray-900 text-sm mb-2" for="content">
                                    内容
                                </label>
                                <textarea class="form-textarea resize-y w-full md:w-4/5" rows="6"></textarea>
                            </div>
                            <div class="mb-4 text-right md:w-4/5">
                                <button type="button" class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded">
                                  作成
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}