[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-jet = "*"
django-tailwind = "*"
django-3-jet = "*"
gunicorn = "*"
r-django-jet = "*"

[dev-packages]

[requires]
python_version = "3.8"

[scripts]
start = "python manage.py runserver"
shell = "python manage.py shell"
build = "python manage.py tailwind build"
