{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container mx-auto">
        <div class="my-3 px-2">
            <div class="text-2xl">Table List</div>
            <div class="py-4">
                <div class="xl:w-2/3 w-full mx-auto overflow-auto">
                    <table class="table-auto w-full text-left whitespace-no-wrap">
                        <thead>
                            <tr>
                                <th class="px-1 py-2 title-font tracking-wider font-midium text-gray-900 text-sm bg-gray-100 rounded-tl rounded-bl">Title</th>
                                <th class="px-1 py-2 title-font tracking-wider font-midium text-gray-900 text-sm bg-gray-100 w-4 hidden md:table-cell">場所</th>
                                <th class="px-1 py-2 title-font tracking-wider font-midium text-gray-900 text-sm bg-gray-100 w-28 hidden md:table-cell">ID</th>
                                <th class="px-1 py-2 title-font tracking-wider font-midium text-gray-900 text-sm bg-gray-100 text-center w-10 table-cell md:hidden">
                                    <div>場所</div>
                                    <div>ID</div>
                                </th>
                                <th class="px-1 py-2 title-font tracking-wider font-midium text-gray-900 text-sm bg-gray-100 w-16 hidden sm:table-cell">最終更新</th>
                                <th class="px-1 py-2 title-font tracking-wider font-midium text-gray-900 text-sm bg-gray-100 text-center w-6 rounded-tr rounded-br">返信</th>
                            </tr>
                        </thead>
                        <tbody class="divide-y divide-funchsia-300">
                            <tr>
                                <td class="py-1">
                                    <span class="hover:underline cursor-pointer">にゃんにゃん</span>
                                </td>
                                <td class="px-1 py-1 hidden md:table-cell place_string">PC</td>
                                <td class="px-1 py-1 hidden md:table-cell id_string">aEJMhlUvLMDX</td>
                                <td class="px-1 py-1 table-cell md:hidden">
                                    <div class="h-3 w-3 rounded-lg m-auto place_color"></div>
                                    <div class="h-3 w-3 rounded-lg m-auto id_color"></div>
                                </td>
                                <td class="px-1 py-3 hidden sm:table-cell">2021/03/03 15:01</td>
                                <td class="px-4 py-3 text-center">5</td>
                            </tr>
                            <tr>
                                <td class="py-1">
                                    <span class="hover:underline cursor-pointer">なんとかかんとか売り なんとかかんとか買い</span>
                                </td>
                                <td class="px-1 py-1 hidden md:table-cell place_string">SP</td>
                                <td class="px-1 py-1 hidden md:table-cell id_string">QlmzpRPxD1LL</td>
                                <td class="px-1 py-1 table-cell md:hidden">
                                    <div class="h-3 w-3 rounded-lg m-auto place_color"></div>
                                    <div class="h-3 w-3 rounded-lg m-auto id_color"></div>
                                </td>
                                <td class="px-1 py-3 hidden sm:table-cell">2021/03/03 13:33</td>
                                <td class="px-4 py-3 text-center">1</td>
                            </tr>
                            <tr>
                                <td class="py-1">
                                    <span class="hover:underline cursor-pointer">新モバ買い</span>
                                </td>
                                <td class="px-1 py-1 hidden md:table-cell place_string">PC/SP</td>
                                <td class="px-1 py-1 hidden md:table-cell id_string">RZlMsRD5AvQS</td>
                                <td class="px-1 py-1 table-cell md:hidden">
                                    <div class="h-3 w-3 rounded-lg m-auto place_color"></div>
                                    <div class="h-3 w-3 rounded-lg m-auto id_color"></div>
                                </td>
                                <td class="px-1 py-3 hidden sm:table-cell">2021/03/02 20:56</td>
                                <td class="px-4 py-3 text-center">5</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'js/chame.js' %}"></script>
    <script type="text/javascript">
        (function(){
            document.querySelectorAll("tbody tr").forEach(function(e){
                const id_color = e.querySelector("td.id_string").textContent.toRGBCode();
                e.querySelector("td .id_color").style.background = id_color;
                const place = e.querySelector("td.place_string").textContent;
                const place_element = e.querySelector("td .place_color")
                if(place == "PC")
                    place_element.classList.add("bg-yellow-500")
                else if(place == "SP")
                    place_element.classList.add("bg-green-500")
                else
                    place_element.classList.add("bg-blue-500")
            })
        }())
    </script>
    <div class="container mx-auto">
        <div class="my-3 px-2">
            <div class="text-2xl">Input Form</div>
            <div class="py-4">
                <div class="xl:w-2/3 w-full mx-auto overflow-auto">
                    <div class="w-full max-x-xs">
                        <form class="bg-white rounded px-8 py-6">
                            <div class="mb-4">
                                <label class="block text-gray-900 text-sm mb-2" for="title">
                                    題名
                                </label>
                                <input type="text" class="form-input w-full md:w-3/5 py-2 px-3" placeholder="題名">
                            </div>
                            <div class="mb-4">
                                <label class="block text-gray-900 text-sm mb-2">
                                    取引場所
                                </label>
                                <div class="flex flex-col sm:flex-row">
                                    <label class="items-center">
                                        <input type="radio" class="form-radio text-yellow-500" name="place" value="PC" checked>
                                        <span class="ml-2">PC Only</span>
                                    </label>
                                    <label class="items-center">
                                        <input type="radio" class="form-radio text-blue-500" name="place" value="PCSP">
                                        <span class="ml-2">PC and SP</span>
                                    </label>
                                    <label class="items-center">
                                        <input type="radio" class="form-radio text-green-500" name="place" value="SP">
                                        <span class="ml-2">SP Only</span>
                                    </label>
                                </div>
                            </div>
                            <div class="mb-4">
                                <label class="block text-gray-900 text-sm mb-2" for="content">
                                    内容
                                </label>
                                <textarea class="form-textarea resize-y w-full md:w-4/5" rows="6"></textarea>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="md:flex h-screen">
        <nav class="md:overflow-hidden fixed top-0 -left-72 md:left-0 w-72 md:w-16 duration-300 transform  md:transform-none md:translate-x-0">
            <div class="bg-pink-100 w-72 md:w-16 h-screen ">
                <div class="flex-auto h-full">
                    <div class="flex flex-col h-screen">
                        <ul class="relative m-0 p-0 list-none h-screen">
                            <li class="text-2xl p-4 w-full flex relative justify-start border-b-2 border-gray-100 md:hidden">
                                exsample.com
                            </li>
                            <ul class="relative m-0 p-0 list-none h-full overflow-y-auto">
                                <li class="px-2 py-1 w-full flex text-center hover:bg-gray-300">
                                    <div class="flex md:block items-center p-2">
                                        <div class="mx-auto">
                                            <i><svg class="w-6 h-6 m-auto" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"></path></svg></i>
                                        </div>
                                        <div class="md:text-ss pl-2 md:pl-0">ホーム</div>
                                    </div>
                                </li>
                                <li class="px-2 py-1 w-full flex text-center hover:bg-gray-300">
                                    <div class="flex md:block items-center p-2">
                                        <div class="mx-auto">
                                            <i><svg class="w-6 h-6 m-auto" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v13m0-13V6a2 2 0 112 2h-2zm0 0V5.5A2.5 2.5 0 109.5 8H12zm-7 4h14M5 12a2 2 0 110-4h14a2 2 0 110 4M5 12v7a2 2 0 002 2h10a2 2 0 002-2v-7"></path></svg></i>
                                        </div>
                                        <div class="md:text-ss pl-2 md:pl-0">プレゼント</div>
                                    </div>
                                </li>
                                <li class="h-16"><span class="hidden">dummy</span></li>
                            </ul>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="layer bg-gray-100 w-screen md:w-0 min-h-screen hidden fixed md:static top-0 left-72 ">
                <button type="button" class="nvbtn" onclick="togler()">
                    <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h.01M12 12h.01M19 12h.01M6 12a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0z"></path></svg>
                </button>
            </div>
        </nav>
        <div class="w-full min-h-screen bg-green-100 flex">
            <div class="cover w-0 md:w-20 block min-h-screen"></div>
            <div class=" w-full">
                <input type="button" class="nvbtn" value="nav" onclick="togler()">
            </div>
            
            <script type="text/javascript">
                function togler(){
                    document.querySelector("nav").classList.toggle("translate-x-72");
                    document.querySelector(".layer").classList.toggle("hidden")
                    
                }
                togler()
            </script>
        </div>
        <!-- <nav class="w-60 min-h-screen overflow-hidden fixed left-60 md:flex-shrink-0 md:left-0">
            <div class="bg-blue-500">
                
            </div>
        </nav>
        <div class="w-full min-h-screen bg-current"></div> -->
    </div>
{% endblock content %}